@using Newtonsoft.Json

@model IEnumerable<SearchFunction.Models.EmployeeDetails>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@



<div class="detailPageContentBlock">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-12 align-self-center text-end">
            Id :
        </div>
        <div class="col-md-2 col-sm-4 col-6 align-self-center">
            <input type="text" id="txtid" class="form-control" aria-describedby="inputGroup-sizing-sm" />
        </div>
        <div class="col-md-2 col-sm-4 col-12 align-self-center text-end">
            Name :
        </div>
        <div class="col-md-4 col-sm-6 col-12 align-self-center">
            <input type="text" id="txtCustomerName" class="form-control" aria-describedby="inputGroup-sizing-sm" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-4 col-12 align-self-center text-end">
            Gender :
        </div>
        <div class="col-md-2 col-sm-4 col-6 align-self-center">
            <input type="text" id="txtGender" class="form-control" aria-describedby="inputGroup-sizing-sm" />
        </div>
        <div class="col-md-2 col-sm-4 col-12 align-self-center text-end">
            Email :
        </div>
        <div class="col-md-2 col-sm-4 col-6 align-self-center">
            <input type="text" id="txtEmail" class="form-control" aria-describedby="inputGroup-sizing-sm" />
        </div>
    </div>



    <div class="row" style="float:right; margin-top:15px;">
        <div class="col-12">
            <button type="button" id=btnSearch class="ui-button text-uppercase" style="font-weight:bold;"><span>Search</span></button>
            <button type="button" id=btnClear class="ui-button text-uppercase" style="font-weight:bold; margin-left:7px;"><span>Clear</span></button>
        </div>
    </div>

    <div class="row ListPageGridDiv">
        <table id="gdCustomerMaster" style="width:98% !important;"></table>
        <div id="pager2"></div>
    </div>

</div>
@*@section scripts
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/sr-1.1.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/sr-1.1.1/datatables.min.js"></script>


    <script>
    $(document).ready(function () {
    $("#gdCustomerMaster").DataTable();
    })
    </script>

    }*@





@*@if (Model.Count() == 0)
    {
    <tr>
    <td colspan="4"> Records not found </td>
    </tr>
    }
    else
    {
    <table class="table" border="0" id="gdCustomerMaster">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Id)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Gender)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Email)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  }, new {onclick="return confirm('Are you sure you want to delete Employee - "+item.Name+"');"})

    </td>
    </tr>
    }
    </tbody>
    </table>
    }

*@
@*<input type="text" id= "txt1" /><br />
    <input type="text" id= "txt2" /><br />
    <button id = "btnadd">Add</button> &nbsp;
    <button id = "btnsub">Sub</button> &nbsp;
    <button id = "btnmul">Multi</button> &nbsp;
    <button id = "btndiv">Div</button> &nbsp;
    <output id="res"></output>*@



   